@model IPagedList<RiderModel>

@{
    ViewBag.Title = "Riders";
}

<h2>Riders</h2>

@*

    ##Commented out to replace with Ajax call

    <form method="get">
        <input type="search" name="searchTerm" />
        <input type="submit" value="Search By Name" />
    </form>

*@


@*@using (Ajax.BeginForm(
        new AjaxOptions
        {
            HttpMethod = "get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "riderList"
        }))
    {
        <input type="search" name="searchTerm" />
        <input type="submit" value="Search" />

    }*@

@* Custom JS allow for more features etc *@

@*wire this up to rmdb.js*@



<form method="get" action="@Url.Action("Index")"
      data-rmdb-ajax="true" data-rmdb-target="#riderList">

    <input type="search" name="searchTerm" data-rmdb-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="Search By Name" />
</form>



<br />




@Html.Partial("_Riders", Model)




@* old index


     <div id="riderList">

     <table class="table">
         <tr>

             <th>
                 @Html.DisplayNameFor(model => model.Name)
             </th>


             <th></th>
         </tr>


         @foreach (var item in Model)
         {
             <tr>

                 <td>
                     @Html.DisplayFor(modelItem => item.Name)
                 </td>


                 <td>
                     @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                     @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                     @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                     @Html.ActionLink("View Riders Events", "ViewRiderEvents", new { id = item.Id })
                 </td>
             </tr>
         }


     </table>

    </div>*@