@model IEnumerable<RaceMateDB.Models.ResultModel>

@{
    ViewBag.Title = "ViewRiderEvents";
}

<h2>Results for @Model.FirstOrDefault().Rider.Name</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>

            |   @Html.ActionLink("View Event Results", "Results", "Event", new { id = item.EventModelId}, null) |
            @if (@User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <text>|</text>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) <text>|</text>
            }
        </td>
    </tr>
}

</table>
