@model PagedList<CourseModel>


<div id="courseList">


    <div class="pagedList" data-rmdb-target="#courseList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
       PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    { HttpMethod = "GET", UpdateTargetId = "courseList"}))                                @*   PagedListRenderOptions.MinimalWithItemCountText) *@





   
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
            </tr>

            @if (@User.IsInRole("Admin"))
            {
                <text>|</text>@Html.ActionLink("Create New", "Create") <text>|</text>
            }


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="ResultHighlightRibbon">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                    </td>

                    <td>
                        <div class="ResultHighlightRibbon">

                            | @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Events", "CourseEvents", "Event", new { Id = item.Id }, null) |

                            @if (@User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <text>|</text>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) <text>|</text>
                            }
                        </div>
                    </td>
                </tr>
            }

        </table>


        </div>



    </div>

