@model IPagedList<EventModel>


<div id="uploadEventList">
          

    
    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Course.Name)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Name }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Name }) |
                    @Html.ActionLink("Delete", "DeleteEventFromSession", new { name = item.Name })
                </td>
            </tr>
        }

    </table>


    <div class="pagedList" data-rmdb-target="#uploadEventList">
        @Html.PagedListPager(Model, page => Url.Action("UploadEventsFile", new { page }),
       PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    { HttpMethod = "GET", UpdateTargetId = "uploadEventList"}))                                @*   PagedListRenderOptions.MinimalWithItemCountText) *@

</div>


</div>