@model IPagedList<CourseModel>

@{
    ViewBag.Title = "Admin";

}




<h2>Admin</h2>  <br />

<h3>Upload Course .csv </h3>

@using (Html.BeginForm("UploadCourseFile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" id="load_data" name="load_data" value="Upload" />

        @ViewBag.Message

    </div>

}










<h3> Upload Results.csv </h3>


@using (Html.BeginForm("UploadEventResultsFile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" id="load_data" name="load_data" value="Upload" />

        @ViewBag.Message

    </div>

}




<h3> Upload Events.csv </h3>


@using (Html.BeginForm("UploadEventsFile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" id="load_data" name="load_data" value="Upload" />

        @ViewBag.Message

    </div>

}








