@model IEnumerable<EventModel>

@{
    ViewBag.Title = "UploadEventSuccess";
}

<h2>The below events were successfully added to the RaceMateDB</h2>


<table class="table">
    <tr>
  
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>     
       
    </tr>
}

</table>
