
@model IEnumerable<RaceMateDB.ViewModels.PredictedResultViewModel>

@{
    ViewBag.Title = "PredictedResults";
}

<h2>PredictedResults</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RiderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofResults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultWeighting)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RiderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofResults)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultWeighting)
        </td>
        <td>
           | @Html.ActionLink("Rider Results", "ViewRiderEvents", "Rider", new { id = item.RiderID },null) |         
        </td>
    </tr>
}

</table>
